#gameboard
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 2px solid red;
    
}

.square
{
    display: flex;
    flex-wrap: wrap;
    float: left;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 30%;
    text-align: center;
    font-size: 3rem;
}